.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.editor {
	flex: 1 1 0px;
	overflow: hidden;
	width: 1000px;
}

.status {
	flex: 0 0 auto;
}
