.fill {
	width: 100%;
}

.container {
	position: relative;
	color: var(--sub-color);
}

.select {
	appearance: none;
	display: block;
	cursor: pointer;
	padding: 8px;
	/* For the arrow: 4 + 16 + 8 */
	padding-right: 28px;
	border-radius: 4px;

	font-size: 14px;
	color: var(--sub-color);
	border: 1px solid var(--sub-color);
	/* Must set a background because the option list uses this */
	background-color: var(--bg-color);

	outline: 8px solid transparent;
	outline-offset: 2px;
	transition: color 0.1s, outline 0.2s ease-out;
}

.select:hover {
	color: var(--text-color);
}

.select:focus-visible {
	color: var(--text-color);
	outline-width: 2px;
	outline-color: var(--main-color);
}

.arrow {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
