.container {
	width: 280px;
	padding: 8px 16px;
	font-size: 14px;
	line-height: 21px;
	color: var(--sub-color);

	display: flex;
	flex-direction: column;
	gap: 16px;
}

.container p {
	margin: 0;
}

.browsers {
	display: flex;
	justify-content: center;
	gap: 8px;
}
