html.theme-serika-dark {
	--bg-color: #323437;
	--bg-color-rgb: 50, 52, 55;
	--main-color: #e2b714;
	--caret-color: #e2b714;
	--sub-color: #646669;
	--sub-color-rgb: 100, 102, 105;
	--text-color: #d1d0c5;
	--error-color: #ca4754;
}
