.toolbar {
	background-color: rgba(var(--bg-color-rgb), 0.5);
	backdrop-filter: blur(20px);
	width: 100%;
}

.content {
	max-width: 1000px;
	margin: auto;
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 8px 16px;
}

.divider {
	background-color: var(--sub-color);
	width: 1px;
	height: 16px;
	margin: 0 16px;
}

.grow {
	flex: 1 1 0px;
}
