.container {
	z-index: 1;
	perspective: 240px;
}

.enter,
.leave {
	transition-property: transform opacity;
	transform-origin: bottom;
	transition-timing-function: var(--ease-out-quint);
}

.enter {
	transition-duration: 150ms;
}

.leave {
	transition-duration: 450ms;
}

.hide {
	opacity: 0;
	transform: rotateX(10deg);
}

.show {
	opacity: 1;
	transform: rotateX(0deg);
}
