/* The one with padding (hit-area) */
.buffer {
	/* The hit area */
	padding-top: 30px;
}

.container {
	/* The opacity and backdrop-filter must be defined on the same element to
	avoid laggy transition */
	opacity: 0;
	transition: opacity 300ms ease-out;

	padding: 8px 48px;
}

.buffer.show .container {
	opacity: 1;
}

@supports (backdrop-filter: blur(20px)) {
	.container {
		background-color: rgba(var(--bg-color-rgb), 0.5);
		backdrop-filter: blur(20px);
	}
}

@supports not (backdrop-filter: blur(20px)) {
	.container {
		background-color: rgba(var(--bg-color-rgb), 0.95);
	}
}

/* The one with flex */
.body {
	margin: auto;
	display: flex;
	align-items: center;
	gap: 16px;
}

/* Perfectly align with the editor content */
.body > *:first-child {
	margin-left: -8px;
}
.body > *:last-child {
	margin-right: -8px;
}

.divider {
	background-color: var(--sub-color);
	width: 1px;
	height: 16px;
	margin: 0 16px;
}

.grow {
	flex: 1 1 0px;
}
