/* The one with padding (hit-area) */
.buffer {
	/* The hit area */
	padding-top: 30px;
	transition: opacity 200ms linear;
	opacity: 0;
}

.buffer.show {
	opacity: 1;
}

/* The one with background */
.container {
	background-color: rgba(var(--bg-color-rgb), 0.5);
	backdrop-filter: blur(20px);
}

@supports not (backdrop-filter: blur(20px)) {
	.container {
		background-color: rgba(var(--bg-color-rgb), 0.98);
	}
}

/* The one with flex, and yes this is Friends reference */
.body {
	max-width: calc(1000px + 24px * 2);
	margin: auto;
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 8px 16px;
}

.divider {
	background-color: var(--sub-color);
	width: 1px;
	height: 16px;
	margin: 0 16px;
}

.grow {
	flex: 1 1 0px;
}
