.layout {
	height: 100%;
}

.editor,
.preview {
	height: 100%;
}

/* Editor only */

/* Don't need to hide "preview" because we remove it from the DOM completely */

/* Preview only */

/* Need to hide "editor" using CSS since we need to keep it in the DOM to avoid
losing the state */
.layout.previewView .editor {
	display: none;
}

/* Split */

.layout.splitView {
	display: flex;
	justify-content: center;
}

.layout.splitView .editor,
.layout.splitView .preview {
	flex: 1 1 0px;
	overflow: hidden;
	max-width: 1280px;
}
