.container {
	max-width: 1000px;
	height: 100%;
	/* Align with the buttons in toolbar */
	padding: 0 24px;
	margin: auto;

	display: flex;
	flex-direction: column;
}

.editor {
	flex: 1 1 0px;
	overflow: hidden;
}

.status {
	flex: 0 0 auto;
}
