.container {
	z-index: 1;
	perspective: 240px;
}

.list {
	min-width: 240px;
	padding: 8px 0;
}

.enter,
.leave {
	transition-property: transform opacity;
	transform-origin: bottom;
	/* https://easings.net/#easeOutQuint */
	transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.enter {
	transition-duration: 100ms;
}

.leave {
	transition-duration: 300ms;
}

.hide {
	opacity: 0;
	transform: rotateX(10deg);
}

.show {
	opacity: 1;
	transform: rotateX(0deg);
}
