.container {
	appearance: none;
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 2px;

	outline: solid 8px transparent;
	outline-offset: 2px;
	font-size: 14px;
	line-height: 21px;
	font-family: "iA Writer Duo", monospace;

	cursor: pointer;
	transition: outline 200ms ease-out;
}

.container.selected {
	outline-color: var(--text-color);
	outline-width: 2px;
	/* Override Firefox's dotted style in focus */
	outline-style: solid;
}

.container:focus-visible:not(.x) {
	outline-color: var(--main-color);
	outline-width: 2px;
	/* Override Firefox's dotted style in focus */
	outline-style: solid;
}

.caret {
	width: 2px;
	height: 21px;
	margin-left: 1px;
}
