.tippy-box[data-animation="fade"][data-state="hidden"] {
	opacity: 0;
}

[data-tippy-root] {
	max-width: calc(100vw - 10px);
}

.tippy-box {
	position: relative;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
	outline: 0;
	transition-property: transform, visibility, opacity;

	color: var(--text-color);
	border: solid 1px var(--sub-color);
	/* @TODO: Temporarily hide the 1px black border. It is better for dark
	theme but can't make it work for light theme yet */
	box-shadow: 0 0px 0 1px rgba(0, 0, 0, 0), 0 8px 24px rgba(0, 0, 0, 0.2);
}

@supports (backdrop-filter: blur(20px)) {
	.tippy-box {
		background-color: rgba(var(--bg-color-rgb), 0.5);
		backdrop-filter: blur(20px);
	}
}

@supports not (backdrop-filter: blur(20px)) {
	.tippy-box {
		background-color: rgba(var(--bg-color-rgb), 0.95);
	}
}

.tippy-box[data-inertia][data-state="visible"] {
	transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-content {
	position: relative;
	padding: 4px 8px;
	z-index: 1;
}
