/* Cover full screen, so users can scroll anywhere */
.container {
	height: 100%;
	padding: 24px;
}

/* Mimic the print paper with background */
.paper {
	/* Total padding of container and paper should be 150 as in editor */
	padding: calc(96px - 24px) 48px;
	margin: auto;
	border: solid 1px var(--sub-color);
	box-shadow: 0px 16px 24px rgba(0, 0, 0, var(--shadow-opacity));
	overflow: auto;
	height: 100%;
}

.content {
	margin: auto;
	height: auto;
}

/* Scroll bar */
.paper {
	--scroll-bg: transparent;
	--scroll-fg: var(--sub-color);
	max-width: 80ch;

	scrollbar-width: thin;
	scrollbar-color: var(--scroll-bg) var(--scroll-fg);
}
.paper::-webkit-scrollbar {
	width: 16px;
}
.paper::-webkit-scrollbar-track {
	background: var(--scroll-bg);
	padding-right: 8px;
}
.paper::-webkit-scrollbar-thumb {
	background-color: var(--scroll-fg);
	border-radius: 20px;

	/* The magic padding https://stackoverflow.com/a/21684424 */
	border: 4px solid transparent;
	background-clip: padding-box;
}
